li {
      align-items: center;
      align-self: center;
      align-content: center;
      justify-content: center;
      justify-self: center;
      justify-items: center;
      text-align: center;
      margin: 10px;
      background-color: rgba(2, 170, 189, 0.509);
      border-radius: 30px;
      list-style-type: none;
      font-family: Triforce;
      
}

ul {
      align-items: center;
      align-self: center;
      align-content: center;
      justify-content: center;
      justify-self: center;
      justify-items: center;
      text-align: center;
      background-color: transparent;
      display: flex;
      flex-direction: row;
      width: 100%;
      flex-wrap: wrap;
      margin-right: 20px;
      margin-left: -40px;
      font-family: Triforce;
}

body {
      background-image: url('./botw.jpg');
      background-repeat: no-repeat;
      background-color: rgba(7, 105, 128, 0.589);
      font-family: Triforce;
      color: rgb(245, 208, 115);
}

.spinner {
      border: none;
}